@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using Umbraco.Web


@*
    This snippet makes a list of links to the of children of the current page using an unordered HTML list.

    How it works:
    - It uses the Children method to get all child pages
    - It then uses the OrderByDescending() method, which takes the property to sort. In this case the page's creation date.
    - It then generates links so the visitor can go to each page
*@
@{ var root = Model.Content.Site () ;}
@{ var selection = Model.Content.Children.Where(x => x.IsVisible()).OrderByDescending(x => x.CreateDate).ToArray(); }

@if (selection.Length > 0)
{
    foreach (var item in selection)
    {
    
        if (item.Children.Where(x => x.IsVisible()).Count() > 0)
        {
            foreach (IPublishedContent subMenuItem in item.Children.Where(x => x.IsVisible()))
            {
                if (subMenuItem.DocumentTypeAlias == "projectItem")
                {
                    if (umbraco.library.GetPreValueAsString(subMenuItem.GetPropertyValue<int>("projectStatus")) == "Completed")
                    {
                                
                                <ul class="list-group">
                                    @(item.IsAncestorOrSelf(Model.Content) ? "current" : null)
                                    <li class="list-group-item">
                                        <a href="@subMenuItem.Url">@subMenuItem.Name</a>
                                    </li>
                                </ul>

                            }
                        }
                       
                    }


            }
        }
}