@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
	Layout = "Master.cshtml";
}
<h2>Current page</h2>
<div>
    @Html.Action("Index","ContactFormSurface")
</div>
<style type="text/css">
.form-control {
    width: 30%;
}
</style>