@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
	Layout = "Master.cshtml";
}
<h1 style="text-align:center">Contact page</h1>
 <div class="row" style="padding-top:50px">
    @Html.Action("Index","ContactFormSurface")
    
</div>
<style type="text/css">
.form-control {
    width: 70%;
   
}
</style>