@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ProjectItem>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
<h1 style="text-align:center">@Umbraco.Field("projectTitle")</h1>
@Umbraco.Field("projectDescription")
@Umbraco.Field("projectStatus")